.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#content {

}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 600px;
  margin: auto;
  margin-top: 60px;
  table-layout: fixed;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 15px;
  width: 100px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#search {
  position: relative;
}

input.search-input {
  border: 1px solid grey;
  border-radius: 4px;
  height: 30px;
  padding: 3px
}

a {
  margin: 30px;
  background-color: white;
  color: grey;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
}

a:hover {
  background-color: #55598a;
  color: white;
  cursor: pointer;
}

a:active {
  background-color: black;
}

a:visited {
  background-color: #ccc;
}

#buttons {
  padding-top: 30px;
  padding-bottom: 30px;
  margin: auto;
}
